[submodule "/home/tkt/.vim_runtime/sources_non_forked/YouCompleteMe"]
	path = /home/tkt/.vim_runtime/sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim_runtime/sources_non_forked/auto-pairs"]
	path = .vim_runtime/sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim_runtime/sources_non_forked/vim_unimpaired"]
	path = .vim_runtime/sources_non_forked/vim_unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim_runtime/sources_non_forked/vim-easymotion"]
	path = .vim_runtime/sources_non_forked/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "/home/tkt/.vim_runtime/sources_non_forked/easyclip"]
	path = /home/tkt/.vim_runtime/sources_non_forked/easyclip
	url = https://github.com/svermeulen/vim-easyclip.git
[submodule "/home/tkt/.vim_runtime/sources_non_forked/closetag"]
	path = /home/tkt/.vim_runtime/sources_non_forked/closetag
	url = https://github.com/alvan/vim-closetag
[submodule "/home/tkt/.vim_runtime/sources_non_forked/vim_husk"]
	path = /home/tkt/.vim_runtime/sources_non_forked/vim_husk
	url = https://github.com/vim-utils/vim-husk
[submodule "/home/tkt/.vim_runtime/sources_non_forked/vim-tmux"]
	path = /home/tkt/.vim_runtime/sources_non_forked/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "/home/tkt/.vim_runtime/sources_non_forked/xmedit"]
	path = /home/tkt/.vim_runtime/sources_non_forked/xmedit
	url = https://github.com/sukima/xmledit
[submodule "/home/tkt/.vim_runtime/sources_non_forked/supertab"]
	path = /home/tkt/.vim_runtime/sources_non_forked/supertab
	url = https://github.com/ervandew/supertab
[submodule "/home/tkt/.vim_runtime/sources_non_forked/tern_for_vim"]
	path = /home/tkt/.vim_runtime/sources_non_forked/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "/home/tkt/.vim_runtime/sources_non_forked/ultisnips"]
	path = /home/tkt/.vim_runtime/sources_non_forked/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "/home/tkt/.vim_runtime/sources_non_forked/vim-unimpaired"]
	path = /home/tkt/.vim_runtime/sources_non_forked/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "/home/tkt/.vim_runtime/sources_non_forked/vim-instant-markdown"]
	path = /home/tkt/.vim_runtime/sources_non_forked/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule "/home/tkt/.vim_runtime/sources_non_forked/vim-geeknote"]
	path = /home/tkt/.vim_runtime/sources_non_forked/vim-geeknote
	url = https://github.com/neilagabriel/vim-geeknote
