[submodule "/home/tkt/.vim_runtime/sources_non_forked/YouCompleteMe"]
	path = /home/tkt/.vim_runtime/sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim_runtime/sources_non_forked/auto-pairs"]
	path = .vim_runtime/sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim_runtime/sources_non_forked/vim_unimpaired"]
	path = .vim_runtime/sources_non_forked/vim_unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim_runtime/sources_non_forked/vim-easymotion"]
	path = .vim_runtime/sources_non_forked/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
